@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  background-color: #fff;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.l-pg-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% auto 10%;
  height: 100vh;
}

.l-pg-body {
  display: grid;
  grid-gap: 1%;
  grid-template-rows: 5vw;
  grid-auto-rows: 9vw;
  grid-template-columns: 1fr repeat(6, 3fr) 1fr;
  height: 90vh;
  background: #000 url("https://consequenceofsound.files.wordpress.com/2015/11/tupac-e1497465405190.jpg?quality=80&w=1200");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.box {
  background: #000;
  outline-style: solid;
  outline-color: #000;
  outline-width: 1vw;
  color: white;
  text-align: center;
}

.box__transparent {
  background-color: rgba(64, 67, 78, 0.4);
}

