.l-pg-container{
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: 10% auto 10%;
  height: 100vh;
}


.l-pg-header{
}

.l-pg-body{
  display: grid;
  grid-gap: 1%;
  grid-template-rows: 5vw;
  grid-auto-rows: 9vw;
  grid-template-columns: 1fr repeat(6, 3fr) 1fr;
  height: 90vh;
  background: #000 url("https://consequenceofsound.files.wordpress.com/2015/11/tupac-e1497465405190.jpg?quality=80&w=1200");
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
}


.l-pg-footer{
}