.l-pg-container{
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: 10% auto 10%;
  height: 100%;
}


.l-pg-header{
  width: 100%;
}

.l-pg-body{
  background: $body-bg;
}


.l-welcome-container{
  display: grid;
  grid-gap: 1%;
  grid-template-rows: 5vw;
  grid-auto-rows: auto;
  grid-template-columns: 1fr repeat(6, 3fr) 1fr;
  height: auto;
  background: #000 url("http://eddiesolar.com/images/me2.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
}

.l-pg-footer{
}
