.l-pg-container{
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: 15% auto 10%;
  height: 100%;
}


.l-pg-header{
}

.l-pg-body{
  background: $body-bg;
}


.l-welcome-container{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 150px 150px 150px;
  grid-template-areas:
      "left left left"
      "middle middle middle"
      "right right right"
}

.l-pg-footer{
}
