.menu{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  @media screen and (min-width: 600px){
    width: 75%;
  }
  &__item {
    margin-right: auto;
    margin-left: auto;
    width: calc(80% / 4);
    color: $text-color;
    text-align: center;
  }
}



.box{
  background: $body-bg;
  outline-style: solid;
  outline-color:red;
  outline-width: 1vw;
  color: white;
  text-align: center;
  &__transparent{
    background-color:rgba(64,67,78,0.4);
  }
}