.menu{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  @media screen and (min-width: 600px){
    width: 75%;
  }
  &__item {
    margin-right: auto;
    margin-left: auto;
    width: calc(80% / 4);
    color: $text-color;
    text-align: center;
  }
}


.welcome-section__right{
  grid-area: right;
  background: blue;
  border:2px solid black;
}

.welcome-section__middel{
  grid-area: middle;
  background: green;
  border:2px solid black;
}

.welcome-section__left{
  grid-area: left;
  background: red;
  border:2px solid black;
}