.pg-header{
  display: flex;
  flex-direction: row;
  align-content:center;
  grid-column: 1 / 1;
  grid-row: 1 / span 4;
  height: 100%;
  &__title{
    height: 100%;
  }
  &__menu{
    height: 100%;
  }
}

.menu{
  align-items:center;
  height: 100%;
  &__header{
    transform: rotate(-90deg);
  }
  &__items{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
  &__item{
    font-size: 20px;
  }
}

.welcome-descrip{
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.about-section{
  margin-right: auto;
  margin-left: auto;
  width:70%;
  .about-description{
    margin-right: auto;
    margin-left: auto;
    width: 80%
  }

}



